<center><%= form_for(@decoration) do |f| %>
  <% if @decoration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decoration.errors.count, "error") %> prohibited this decoration from being saved:</h2>

      <ul>
      <% @decoration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table id="newform">
  <tr>
  <td>
    <%= f.label "Theme name" %></td>
    <td><%= f.text_field :name %></td>

</tr>
<tr>
    <td><%= f.label :year %>
</td>
<td><%= f.select :year, [ '2007','2008','2009','2010','2011','2012','2013' ], :prompt=> 'Select Year' %>
</td></tr>
<tr><td>

    <% @zone=Zone.order('name ASC') %>
    <%= f.label :zone_id %></td>
    <td>
    <%= f.collection_select :zone_id ,@zone,:id,:name %>
  </td>
</tr>
  <tr><td>
  Expense</td>
 <td><% if @decoration.expense.exists? %>
<%=  link_to "Download", @decoration.expense.url(:original, false) %>
<% elsif @decoration.name == nil %>

<% else %>
<font color="Red"> No file uploaded for expense</font>
<% end %>


    <%= f.file_field :expense %> or   <%= link_to 'Add expense now',
         new_expensesheet_path, 
        :onclick=>"window.open(this.href,'create_expensesheet', 'height=600, width=600');return false;" 
%></td>
  </tr>
  <tr>
  <td colspan="2" align="center">
   <center> <%= f.submit %></center>
  </td>
</table>
<% end %>
