
<br/>
<br/>

<center><h1>Your Task List</h1></center>
<table id="table_id" >
<thead> 
   <tr>
    <th>Task Name</th>
    <th>Theme Name</th>
    <th>Zone</th>
    <th>Year</th>
    <th>Assigned Users</th>
    
   
  </tr>
</thead>
<tbody>
  <% @tasks=Tasks_user.where(:user_id=>current_user.id) %>

<% @tasks.each do |t| %>
  <% @task=Task.find(t.task_id) %>

   <% @user=User.find(t.user_id) %>
     <% @decoration=Decoration.find(@task.decoration_id) %>
<% @zone=Zone.find(@decoration.zone_id) %>
 <tr>
    <td><%= @task.name %></td>
    <td><%= @decoration.name %></td>
    <td><%= @zone.name %></td>
    <td><%= @decoration.year %></td>
    <td><%= @task.users.map(&:username).join(', ')%></td>

    
  </tr>
<%end %>
</tbody>
</table>


