<br/><br/><center>

<script type="text/javascript">
  $(document).ready(function()
    {
     
        $("#myTable").tablesorter();
    }
);
</script>
  <h1>Listing decorations</h1>
  <%= paginate @decorations %> 
<table id="myTable" class="tablesorter"> 
<thead> 
<tr>
    <th>Name</th>
    <th>Year</th>
    <th>Expense</th>
    <th>Zone</th>
    <th></th>
    <th></th>
      <th></th>
       <th></th>
  </tr>
</thead> <tbody>
<% @decorations.each do |decoration| %>
<% @zone=Zone.find(decoration.zone_id) %>
 
  <tr>
    <td><%= decoration.name %></td>
    <td><%= decoration.year %></td>
    <td><p>
  <b></b>
<% if decoration.expense.exists? %>
 <%=  link_to "Download", decoration.expense.url(:original, false) %>
<% else %>
No file uploaded for expense
<% end %>
</p></td>
    <td><%= @zone.name %></td>
    <td><%= link_to 'Assign tasks', decoration %></td>
    <td><%= link_to 'Show', decoration %></td>
    <td><%= link_to 'Edit', edit_decoration_path(decoration) %></td>
    <td><%= link_to 'Destroy', decoration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Decoration', new_decoration_path %>
