
<%= link_to 'Back', decorations_path %><br/>
<font color="red"><%= notice %></font>
<p>
  <b>Theme:</b>
  <%= @decoration.name %>
</p>

<p>
  <b>Year:</b>
  <%= @decoration.year %>
</p>
<% @zone=Zone.find(@decoration.zone_id) %>
<p>
  <b>Zone:</b>
  <%= @zone.name %>
</p>
<p>
  <b>Expense:</b>
<% if @decoration.expense.exists? %>
 <%=  link_to "Download", @decoration.expense.url(:original, false) %>
<% else %>
<font color="red">No file uploaded for expense </font>
<% end %>
</p>
  <%= paginate @tasks %> 
<table id="myTable" class="tablesorter"> 
<thead> 
  <tr>
    <th>Task Name</th>
    <th>Assigned to users</th>
  <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @tasks.each do |t| %>
<tr>
    <td>   <%= t.name %></td>
    <td>   <% t.users.each do |user| %> '<%=user.username%>' &nbsp; <% end %></td>
     <td><%= link_to 'Edit', edit_task_path(t) %></td>
    <td><%= link_to 'Destroy', t, confirm: 'Are you sure?', method: :delete %></td>
     <% end %>
  </tr>
</tbody>
</table>
<h3> Add tasks and users</h3>
<%= form_for([@decoration, @decoration.tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
&nbsp;&nbsp;&nbsp;Select Users:
  <br/>&nbsp;&nbsp;&nbsp;<%= select_tag("user_ids", options_for_select(User.all.collect{|u|[u.username,u.id]}),{:multiple=> true,:size =>3}) %>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>
