
<font color="red"><%= notice %></font>
<h3><font color="#006699"> Add tasks and users</h3></font>
<table>
  <tr>
  <td>Theme name:</td>
  <td><%= @decoration.name %></td>
</tr>
<tr>
  <td>Year:</td>
  <td><%= @decoration.year %></td>
</tr>

<%= form_for([@decoration, @decoration.tasks.build]) do |f| %>

  <tr>
    <td><%= f.label "Task " %></td>
    <td><%= f.text_field :name %></td>
  </tr>
<tr>

<td>Select Users:</td>
<td><%= select_tag("user_ids", options_for_select(User.all.collect{|u|[u.username,u.id]}),{:multiple=> true,:size =>3, :id => "users"}) %>
</td>
</tr>
  <tr>
   <td colspan="2"><center> <%= f.submit %></center></tr>
  </table>
<% end %>

<table id="table_id"> 
<thead> 
  <tr>
    <th>Task Name</th>
    <th>Assigned to users</th>
  <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @tasks.each do |t| %>
<tr>
    <td>   <%= t.name %></td>
    <td>   <% t.users.each do |user| %> '<%=user.username%>' &nbsp; <% end %></td>
     <td><%= link_to 'Edit', edit_task_path(t) %></td>
    <td><%= link_to 'Destroy', t, confirm: 'Are you sure?', method: :delete %></td>
     <% end %>
  </tr>
</tbody>
</table><br />

